* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.para {
  float: right;
  clear: both;
}

.even {
  padding-right: 10px;
  padding-bottom: 10px;
}

.arrow-forward-btn,
.continent,
.header,
.arrow {
  display: flex;
}

.arrow-forward-btn {
  padding-top: 5px;
}

.arrow-forward-btn .MuiSvgIcon-root {
  margin-left: auto;
}

.continent {
  justify-content: center;
  align-items: center;
}

.country {
  position: relative;
  height: 200px;
}

.country-item {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home-img,
.continent {
  height: 200px;
}

.country-data,
.country-cont,
.stats,
.header {
  background-color: rgba(0, 0, 0, 0.08);
}

.country-data,
.continent-cont {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: GillSansMedium, sans-serif;
}

.header {
  height: 40px;
}

.stats {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 8px;
  font-family: GillSansMedium, sans-serif;
}

.header,
.arrow {
  color: #fff;
  font-weight: 500;
  font-family: GillSansMedium, sans-serif;
  align-items: center;
  justify-content: space-between;
}

.even:nth-child(4n + 2),
.even:nth-child(4n + 3),
.header {
  background-color: rgba(0, 0, 0, 0.08);
}
