* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.metrics {
  background-color: #f87171;
}

.para {
  float: right;
  clear: both;
}

.even {
  padding-right: 10px;
  padding-bottom: 10px;
}

.continent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country {
  position: relative;
  height: 200px;
}

.country-item {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home-img,
.continent {
  height: 200px;
}

.country-data {
  background-color: rgba(0, 0, 0, 0.1);
}

.country-data,
.continent-cont {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: GillSansMedium, sans-serif;
}

.even:nth-child(4n + 2),
.even:nth-child(4n + 3) {
  background-color: rgba(0, 0, 0, 0.08);
}
