* {
  margin: 0;
  padding: 0;
}

.details,
.cont {
  background-color: #eb4c89;
}

.dark,
.header {
  background-color: rgba(0, 0, 0, 0.08);
}

.country:nth-child(4n + 2),
.country:nth-child(4n + 1) {
  background-color: rgba(0, 0, 0, 0.08);
}

.app {
  background-color: #eb4c89;
}

.no-shadow:focus {
  box-shadow: none;
}
